# ────────────────────────────────────────────────────────────────────────────────────────────────────
#   Reference: {{{

# A valid snippet should starts with:
#
#		snippet trigger_word [ "description" [ options ] ]
#
# and end with:
#
#		endsnippet
#
# Snippet options:
#
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#
# Basic example:
#
#		snippet emitter "emitter properties" b
#		private readonly ${1} = new Emitter<$2>()
#		public readonly ${1/^_(.*)/$1/}: Event<$2> = this.$1.event
#		endsnippet
#
# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt

#   }}}
# ────────────────────────────────────────────────────────────────────────────────────────────────────

#                   __                           ___       ___                  
#                  /\ \                        /'___\     /\_ \    __           
#     _ __   __  __\ \ \____  __  __          /\ \__/  ___\//\ \  /\_\    ___   
#    /\`'__\/\ \/\ \\ \ '__`\/\ \/\ \  _______\ \ ,__\/ __`\\ \ \ \/\ \  / __`\ 
#    \ \ \/ \ \ \_\ \\ \ \L\ \ \ \_\ \/\______\\ \ \_/\ \L\ \\_\ \_\ \ \/\ \L\ \
#     \ \_\  \ \____/ \ \_,__/\/`____ \/______/ \ \_\\ \____//\____\\ \_\ \____/
#      \/_/   \/___/   \/___/  `/___/> \         \/_/ \/___/ \/____/ \/_/\/___/ 
#                                 /\___/                                        
#                                 \/__/      


priority -50

snippet class_name "Folio Cell class name" b
class_name "${1}", :${0}
endsnippet

snippet show "Cell show method" b
def show
	render if model.present? ${0:&& ${1}}
end
endsnippet

snippet FormHelper "SimpleForm FormHelper"
include SimpleForm::ActionViewExtensions::FormHelper
endsnippet

snippet form "Simple form function" b
def form(&block)
	opts = {
		url: ${1}_path,
		method: ${2::get}
	}

	simple_form_for(${0:""}, opts, &block)
end
endsnippet

snippet cell "Folio Cell" b
cell("${1}", ${2})
endsnippet

snippet Cell "Folio Cell" b
# frozen_string_literal: true

class ${1}::${2}Cell < ApplicationCell
	${0}
end
endsnippet

snippet t "I18n Translate"
t(".${1}")
endsnippet

snippet i "Image"
image(${1},
			${2:THUMB_SIZE}
			${3:, class: ${4}})
endsnippet
