snippet feat "Feature" b
feat(${1}): ${0}
endsnippet

snippet lint "Linting and Formatting" b
style(lint)
endsnippet

snippet style "Code style" b
style(${1}): ${0}
endsnippet

snippet fix "Bug fix" b
fix(${1}): ${0}
endsnippet

snippet chore "Meta tasks" b
chore(${1}): ${0}
endsnippet

snippet refactor "Code refactoring" b
refactor(${1}): ${0}
endsnippet

snippet test "Tests" b
test(${1}): ${0}
endsnippet

snippet perf "Performance" b
perf(${1}): ${0}
endsnippet
