#
# Online reference: https://github.com/SirVer/ultisnips/blob/master/doc/UltiSnips.txt

#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.
#		snippet trigger_word [ "description" [ options ] ]
#		endsnippet

priority -50

###########################################################################
#                            SnipMate Snippets                            #
###########################################################################


snippet plug "Plugin" b
Plug '${1:name}' " ${2:comment}
endsnippet

snippet for "for loop" b
for ${1:item} in ${2:array}
	${3:block}
endfor
endsnippet

snippet func "function" b
fun ${1:function_name}($2)
	${3:" code}
endf
endsnippet
